---
import { type Firm } from "@/libs/data/firms";
import InfoCell from "./InfoCell.astro";
import { decodeHtmlEntity } from "@/utils";

interface Props {
  firm?: Firm;
  hq?: string;
  foundation?: string;
  ceo?: string;
  trustPilotScore?: string;
  trustPilotStars?: string;
}

const { firm, hq, foundation, ceo, trustPilotScore, trustPilotStars } =
  Astro.props;
---

<div class="info-section">
  <h2
    style="background: linear-gradient(to right, #454545, #929292); -webkit-background-clip:text;"
    class="gradient-title-sm text-left w-full mb-[10px]"
  >
    Información de la empresa
  </h2>
  <hr class="mb-[20px]" />
  <div class="info-grid">
    <InfoCell title="Sede" data1={hq} />
    <InfoCell title="Fundación" data1={foundation} />
    <InfoCell title="CEO" data1={ceo} />
    {
      trustPilotStars && (
        <div class="sm:col-start-2">
          <InfoCell
            title="Puntuación Trustpilot"
            data1={trustPilotScore}
            data2={decodeHtmlEntity(trustPilotStars)}
          />
        </div>
      )
    }
  </div>
</div>
