---
import TitleInfo from "./TitleInfo.astro";
import InfoCell from "./InfoCell.astro";

interface Props {
  phases?: string;
  maxAllocation?: string;
  maxProfit?: string;
  depositOptions?: string;
  withdrawalOptions?: string;
  scaling?: string;
  accountType?: string;
  paymentType?: string;
  priceRange?: string;
}

const {
  phases,
  maxAllocation,
  maxProfit,
  depositOptions,
  withdrawalOptions,
  scaling,
  accountType,
  paymentType,
  priceRange,
} = Astro.props;
---

<div class="info-section">
  <h2
    style="background: linear-gradient(to right, #454545, #929292); -webkit-background-clip:text;"
    class="gradient-title-sm text-left w-full mb-[10px]"
  >
    Planes y condiciones
  </h2>
  <hr class="mb-[20px]" />
  <div class="info-grid">
    <InfoCell title="Fases" data1={phases} />
    <InfoCell title="Capital máximo" data1={maxAllocation} />
    <InfoCell title="Porcentaje de beneficio" data1={maxProfit} />
    <InfoCell title="Opciones de depósito" data1={depositOptions} />
    <InfoCell title="Opciones de retiro" data1={withdrawalOptions} />
    <InfoCell title="Escalado" data1={scaling} />
    <InfoCell title="Tipo de cuenta" data1={accountType} />
    <InfoCell title="Tipo de pago" data1={paymentType} />
    <InfoCell title="Rango de precios" data1={priceRange} />
  </div>
</div>
