---
import TitleInfo from "./TitleInfo.astro";

interface Props {
  phases?: string;
  maxAllocation?: string;
  maxProfit?: string;
  depositOptions?: string;
  withdrawalOptions?: string;
}

const { phases, maxAllocation, maxProfit, depositOptions, withdrawalOptions } =
  Astro.props;
---

<div class="info-section">
  <h2
    style="background: linear-gradient(to right, #454545, #929292); -webkit-background-clip:text;"
    class="gradient-title-sm text-left w-full mb-[10px]"
  >
    Planes y condiciones
  </h2>
  <hr class="mb-[20px]" />
  <div class="info-grid">
    <div class="info-cell">
      <TitleInfo title="Fases" />
      <p class="info-cell-text">{phases}</p>
    </div>
    <div class="info-cell">
      <TitleInfo title="Capital máximo" />
      <p class="info-cell-text">
        {maxAllocation}
      </p>
    </div>
    <div class="info-cell">
      <TitleInfo title="Porcentaje de beneficio" />
      <p class="info-cell-text">{maxProfit}</p>
    </div>
    <div class="info-cell">
      <TitleInfo title="Opciones de depósito" />
      <p class="info-cell-text">
        {depositOptions}
      </p>
    </div>
    <div class="info-cell">
      <TitleInfo title="Opciones de retiro" />
      <p class="info-cell-text">
        {withdrawalOptions}
      </p>
    </div>
  </div>
</div>
