---
import TitleInfo from "./TitleInfo.astro";

interface Props {
  minDays?: string;
  maxDays?: string;
  news?: string;
  ea?: string;
  stopLoss?: string;
  copyTrading?: string;
  weekend?: string;
}

const { minDays, maxDays, news, ea, stopLoss, copyTrading, weekend } = Astro.props;
---

<div class="info-section">
  <h2
    style="background: linear-gradient(to right, #454545, #929292); -webkit-background-clip:text;"
    class="gradient-title-sm text-left w-full mb-[10px]"
  >
    Planes y condiciones
  </h2>
  <hr class="mb-[20px]" />
  <div class="info-grid">
    <div class="info-cell">
      <TitleInfo title="Mínimo de días operados (prueba)" />
      <p class="info-cell-text">{minDays}</p>
    </div>
    <div class="info-cell">
      <TitleInfo title="Limite de dias (prueba)" />
      <p class="info-cell-text">{maxDays}</p>
    </div>
    <div class="info-cell">
      <TitleInfo title="Operar noticias" />
      <p class="info-cell-text">{news}</p>
    </div>
    <div class="info-cell">
      <TitleInfo title="Expert Advisor" />
      <p class="info-cell-text">{ea}</p>
    </div>
    <div class="info-cell">
      <TitleInfo title="Stop loss" />
      <p class="info-cell-text">{stopLoss}</p>
    </div>
    <div class="info-cell">
      <TitleInfo title="Copy Trading (a uno mismo)" />
      <p class="info-cell-text">{copyTrading}</p>
    </div>
    <div class="info-cell">
      <TitleInfo title="Posición abierta en fin de semana" />
      <p class="info-cell-text">{weekend}</p>
    </div>
  </div>
</div>
