---
import TitleInfo from "./TitleInfo.astro";
import InfoCell from "./InfoCell.astro";

interface Props {
  minDays?: string;
  maxDays?: string;
  news?: string;
  ea?: string;
  stopLoss?: string;
  tradeCopier?: string;
  weekend?: string;
  martingale?: string;
  hedging?: string;
  grid?: string;
}

const {
  minDays,
  maxDays,
  news,
  ea,
  stopLoss,
  tradeCopier,
  weekend,
  martingale,
  hedging,
  grid,
} = Astro.props;
---

<div class="info-section">
  <h2
    style="background: linear-gradient(to right, #454545, #929292); -webkit-background-clip:text;"
    class="gradient-title-sm text-left w-full mb-[10px]"
  >
    Reglas y limitaciones
  </h2>
  <hr class="mb-[20px]" />
  <div class="info-grid">
    <InfoCell title="Mínimo de días operados (prueba)" data1={minDays} />
    <InfoCell title="Limite de dias (prueba)" data1={maxDays} />
    <InfoCell title="Operar noticias" data1={news} />
    <InfoCell title="Expert Advisor" data1={ea} />
    <InfoCell title="Stop loss" data1={stopLoss} />
    <InfoCell title="Trade Copier" data1={tradeCopier} />
    <InfoCell title="Posición abierta en fin de semana" data1={weekend} />
    <InfoCell title="Martingala" data1={martingale} />
    <InfoCell title="Hedging" data1={hedging} />
    <InfoCell title="Grid" data1={grid} />
  </div>
</div>
