---
import { type Firm } from "@/libs/data/firms";
import TitleInfo from "./TitleInfo.astro";

interface Props {
  instruments: string;
  fee: string;
  leverage: string;
  currency: string;
  brokers: string;
  platforms: string;
}

const { instruments, fee, leverage, currency, brokers, platforms } =
  Astro.props;
---

<div
  class="grid grid-cols-3 py-[20px] bg-[#FFF] rounded-[10px] divide-x-2 divide-light-grey text-center mb-[40px] gap-y-[20px]"
>
  <div class="flex flex-col px-[40px]">
    <TitleInfo title="Instrumentos" />
    <p class="flex flex-col justify-center flex-1">{instruments}</p>
  </div>
  <div class="flex flex-col px-[40px]">
    <TitleInfo title="Comisión" />
    <p class="flex flex-col justify-center flex-1">{fee}</p>
  </div>
  <div class="flex flex-col px-[40px]">
    <TitleInfo title="Apalancamiento" />
    <p class="flex flex-col justify-center flex-1 text-3xl">{leverage}</p>
  </div>
  <hr class="col-span-3" />
  <div class="flex flex-col px-[40px]">
    <TitleInfo title="Divisa principal" />
    <p class="flex flex-col justify-center flex-1 text-2xl">{currency}</p>
  </div>
  <div class="flex flex-col px-[40px]">
    <TitleInfo title="Brokers" />
    <p class="flex flex-col justify-center flex-1 text-2xl">{brokers}</p>
  </div>
  <div class="flex flex-col px-[40px]">
    <TitleInfo title="Plataformas" />
    <p class="flex flex-col justify-center flex-1 text-2xl">{platforms}</p>
  </div>
</div>
