---
import InfoCell from "./InfoCell.astro";

interface Props {
  instruments?: string;
  fee?: string;
  leverage?: string;
  currency?: string;
  brokers?: string;
  platforms?: string;
}

const { instruments, fee, leverage, currency, brokers, platforms } =
  Astro.props;
---

<div class="info-section">
  <h2
    style="background: linear-gradient(to right, #454545, #929292); -webkit-background-clip:text;"
    class="gradient-title-sm text-left w-full mb-[10px]"
  >
    Datos técnicos
  </h2>
  <hr class="mb-[20px]" />
  <div class="info-grid">
    <InfoCell title="Instrumentos" data1={instruments} />
    <InfoCell title="Comisión" data1={fee} />
    <InfoCell title="Apalancamiento" data1={leverage} />
    <InfoCell title="Divisa principal" data1={currency} />
    <InfoCell title="Brokers" data1={brokers} />
    <InfoCell title="Plataformas" data1={platforms} />
  </div>
</div>
