---
import { type Promotion } from "@/libs/data/promotions";

interface Props {
  promotion: Promotion;
  logo?: string;
}

const { promotion, logo } = Astro.props;
---

<div
  class="w-[250px] h-[250px] rounded-full relative cursor-pointer border-light-grey border-[8px]"
>
  <div class="absolute">
    <img
      src={logo}
      class="rounded-full opacity-0 hover:opacity-100 ease-in-out duration-300"
    />
  </div>
  <div
    class="h-full w-full rounded-full flex flex-col justify-center items-center text-light-grey text-base text-center gap-2 p-[20px]"
  >
    <h3 class="text-7xl font-bold">
      {promotion.discount}%
    </h3>
    <p>{promotion.benefit1}</p>
    <p>{promotion.benefit2}</p>
    <p>{promotion.benefit3}</p>
  </div>
</div>
