---
import "../../styles/dual-button.css";

interface Props {
  logo: string;
  isReview?: boolean;
  id: string;
  extraClass?: string;
}

const { logo, id, isReview, extraClass } = Astro.props;
---

<a
  href={isReview ? `/review/${id}` : `/info/${id}`}
  class=`w-full scale-100 overflow-hidden shadow-lg ${extraClass} rounded-xl`
>
  <img
    src={logo}
    class="rounded-xl hover:scale-105 ease-in-out duration-300 transform"
    alt={`Logo review ${id}`}
  />
</a>
