---
import { type Promotion } from "@/libs/data/promotions";

interface Props {
  promotion: Promotion;
  logo?: string;
}

const { promotion, logo } = Astro.props;
---

<div
  class="w-full h-full aspect-square rounded-full relative cursor-pointer
   border-[#FFF] xl:border-[8px] border-[6px]"
>
  <div class="absolute">
    <img
      src={logo}
      class="rounded-full opacity-0 hover:opacity-100 ease-in-out duration-300"
    />
  </div>
  <div
    class="text-base xl:text-lg h-full w-full rounded-full flex flex-col justify-center
    items-center text-[#FFF] text-center xs:gap-0 p-[20px] gap-[3vw]"
  >
    <h3
      class="xl:text-7xl lg:text-5xl md:text-3xl sm:text-6xl xs:text-4xl text-[16vw] font-bold xs:my-0 my-[15px]"
    >
      {promotion.discount}%
    </h3>
    <p class="xl:text-xl sm:text-base xs:text-xs text-[6vw]">
      {promotion.benefit1}
    </p>
    <p class="xl:text-xl sm:text-base xs:text-xs text-[6vw]">
      {promotion.benefit2}
    </p>
    <p class="xl:text-xl sm:text-base xs:text-xs text-[6vw]">
      {promotion.benefit3}
    </p>
  </div>
</div>
