---
import { type Promotion } from "@/libs/data/promotions";

interface Props {
  promotion: Promotion;
  logo?: string;
  firm: string;
}

const { promotion, logo, firm } = Astro.props;
---

<div
  class="flex flex-col items-center bg-[#FFF] rounded-lg w-full xl:p-[30px] lg:p-[25px] md:p-[30px] sm:p-[20px] p-[15px] gap-[10px]
  h-full text-center shadow-lg xl:text-lg md:text-base sm:text-lg text-base"
>
  <p class="xl:text-sm md:text-xs sm:text-sm text-xs text-medium-grey">
    Descuento
  </p>
  <p class="xl:text-6xl md:text-5xl sm:text-6xl text-5xl text-green">
    {promotion.discount}%
  </p>
  {
    promotion.benefit1 && (
      <div class="w-full">
        <hr />
        {promotion.benefit1}
      </div>
    )
  }
  {
    promotion.benefit2 && (
      <div class="w-full">
        <hr />
        {promotion.benefit2}
      </div>
    )
  }
  {
    promotion.benefit3 && (
      <div class="w-full">
        <hr />
        {promotion.benefit3}
      </div>
    )
  }
  <div class="flex-1 justify-end flex flex-col">
    <a href={`/promociones/${firm}`}>
      <button
        class="bg-dark-grey rounded-xl text-[#FFF] xs:px-[20%] px-[25%]
         mt-[20px] xl:h-[80px] md:h-[70px] sm:h-[85px] xs:h-[70px] h-[90px]
       shadow-lg scale-100 hover:scale-105 ease-in-out duration-300 will-change-transform
       flex justify-center items-center"
      >
        <img src={promotion.logoUrl} />
      </button>
    </a>
  </div>
</div>

<style>
  hr {
    @apply mb-[10px] border-medium-grey;
  }
</style>
