---
import { type Promotion } from "@/libs/data/promotions";

interface Props {
  promotion: Promotion;
  logo?: string;
  firm: string;
}

const { promotion, logo, firm } = Astro.props;
---

<div
  class="flex flex-col items-center bg-[#FFF] rounded-lg w-full p-[30px] gap-[10px]
  h-full text-center text-medium-grey shadow-lg"
>
  <p class="text-sm">Descuento</p>
  <p class="text-6xl text-green">{promotion.discount}%</p>
  {
    promotion.benefit1 && (
      <div class="w-full">
        <hr />
        {promotion.benefit1}
      </div>
    )
  }
  {
    promotion.benefit2 && (
      <div class="w-full">
        <hr />
        {promotion.benefit2}
      </div>
    )
  }
  {
    promotion.benefit3 && (
      <div class="w-full">
        <hr />
        {promotion.benefit3}
      </div>
    )
  }
  <div class="flex-1 justify-end flex flex-col">
    <a href={`/promociones/${firm}`}>
      <button
        class="bg-dark-grey rounded-xl text-[#FFF] py-[20px] px-[40px] mt-[20px]
       shadow-lg scale-100 hover:scale-105 ease-in-out duration-300 will-change-transform"
      >
        <img src={promotion.logoUrl} />
      </button>
    </a>
  </div>
</div>

<style>
  hr {
    @apply mb-[10px] border-medium-grey;
  }
</style>
