---
import CardList from "../cards/CardList.astro";
import { type TypeList } from "@/types.ts";
import { type List } from "@/libs/data/lists";

interface Props {
  type?: TypeList;
  lists: { [key: string]: List };
  title: string;
  startColor: string;
  endColor: string;
  shadowColor?: "blue" | "green" | "grey";
}

const { type, lists, title, startColor, endColor, shadowColor } =
  Astro.props;
const listKeys = Object.keys(lists);
---

<div
  class="design-section"
>
  <h2
    style=`background: linear-gradient(to right, ${startColor}, ${endColor});
    -webkit-background-clip:text`
    class="md:text-5xl sm:text-4xl xs:text-4xl text-3xl mb-[20px] inline-block text-transparent
      p-[10px] font-bold"
  >
    {title}
  </h2>
  <div class="type-grid">
    {
      listKeys.map((key) => (
        <CardList
          name={lists[key].name}
          shortDescription={lists[key].shortDescription}
          id={key}
          type={type}
          color={shadowColor}
        />
      ))
    }
  </div>
</div>

<style>
  .type-grid {
    @apply grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 
    lg:gap-[40px] md:gap-[30px] xs:gap-[20px] gap-[15px];
  }
  .type-header {
    @apply lg:text-5xl md:text-4xl xs:text-3xl text-2xl;
  }
  .type-header-container {
    @apply w-full bg-dark-grey text-[#FFF] py-[20px] md:px-[40px]
    xs:px-[20px] px-[15px] flex rounded-xl
    shadow-md;
  }
</style>
