---
import { firms } from "@/libs/data/firms";
import BusinessInfo from "@/components/reviews/BusinessInfo.astro";
import TechInfo from "@/components/reviews/TechInfo.astro";
import PlansAndConditions from "@/components/reviews/PlansAndConditions.astro";
import Rules from "@/components/reviews/Rules.astro";
import Social from "@/components/reviews/Social.astro";
import { mapIds } from "@/utils";
import hero_image from "@/images/Reviews-hero.webp";
import Layout from "@/layouts/Layout.astro";
import HeroPage from "@/components/HeroPage.astro";
import { getPathnameItems } from "@/utils";
import { info } from "@/libs/data/info";

export function getStaticPaths() {
  return mapIds(firms);
}

const items = getPathnameItems(Astro.url.pathname);
const firmName = items[items.length - 1].title;
const infoFirm = info[firmName];

const markdownDescriptions = await Astro.glob(
  "../../libs/data/descriptions/*.md"
);
const matchedDescription = markdownDescriptions.find(
  (file) => file.frontmatter.title === firms[firmName].name
);
---

<Layout title="Reseñas">
  <main class="flex flex-col justify-center items-center min-h-[85vh]">
    <HeroPage
      hero_image={hero_image}
      title="Review"
      extraClassImage="lg:translate-y-[-180px] lg:translate-x-[50px]"
      altIndex={1}
      altTitle="Reviews"
      altUrl="/reviews"
      hasButtons
      button1Text={`Consigue ahora tu cuenta`}
      button1Link={firms[firmName].link}
      button2Text={`Promociones en ${firms[firmName].name}`}
      button2Link={`/promociones/${firmName}`}
      titleLogo={firms[firmName].logoPromos}
      titleLogoLink={firms[firmName].link}
    >
      {matchedDescription && <matchedDescription.Content />}
    </HeroPage>
    <div class="w-full flex justify-center">
      <div
        class="flex flex-col info-design-section margin-section responsive-section
      items-center gap-[40px] w-full"
      >
        <div
          class="w-full flex gap-[20px] items-center md:hidden flex-col sm:flex-row"
        >
          <a class="w-full" href={firms[firmName].link}>
            <button
              class="border-[4px] border-orange text-orange
            xs:text-xl text-lg p-[10px] w-full rounded-lg"
            >
              Consigue ahora tu cuenta
            </button>
          </a>
          <a class="w-full" href={`/promociones/${firmName}`}>
            <button
              class="bg-dark-grey text-[#FFF]
            xs:text-xl text-lg p-[14px] w-full rounded-lg"
            >
              Promociones en {firms[firmName].name}
            </button>
          </a>
        </div>
        <BusinessInfo
          firm={firms[firmName]}
          hq={infoFirm?.bussinessInfo.hq}
          foundation={infoFirm?.bussinessInfo.foundation}
          ceo={infoFirm?.bussinessInfo.ceo}
          trustPilotScore={infoFirm?.bussinessInfo.trustPilotScore}
          trustPilotStars={infoFirm?.bussinessInfo.trustPilotStars}
        />

        <TechInfo
          brokers={infoFirm?.techInfo.brokers}
          currency={infoFirm?.techInfo.currency}
          fee={infoFirm?.techInfo.fee}
          leverage={infoFirm?.techInfo.leverage}
          instruments={infoFirm?.techInfo.instruments}
          platforms={infoFirm?.techInfo.platforms}
        />
        <PlansAndConditions
          phases={infoFirm?.plansAndConditions.phases}
          maxAllocation={infoFirm?.plansAndConditions.maxAllocation}
          depositOptions={infoFirm?.plansAndConditions.depositOptions}
          withdrawalOptions={infoFirm?.plansAndConditions.withdrawalOptions}
          scaling={infoFirm?.plansAndConditions.scaling}
          accountType={infoFirm?.plansAndConditions.accountType}
          paymentType={infoFirm?.plansAndConditions.paymentType}
          priceRange={infoFirm?.plansAndConditions.priceRange}
        />
        <Rules
          minDays={infoFirm?.rules.minDays}
          maxDays={infoFirm?.rules.maxDays}
          news={infoFirm?.rules.news}
          ea={infoFirm?.rules.ea}
          stopLoss={infoFirm?.rules.stopLoss}
          tradeCopier={infoFirm.rules.tradeCopier}
          weekend={infoFirm.rules.weekend}
          martingale={infoFirm.rules.martingale}
          hedging={infoFirm.rules.hedging}
        />
        <Social
          facebookLink={infoFirm?.social.facebookLink}
          xLink={infoFirm?.social.xLink}
          instagramLink={infoFirm?.social.instagramLink}
          tiktokLink={infoFirm?.social.tiktokLink}
          youtubeLink={infoFirm?.social.youtubeLink}
          discordLink={infoFirm?.social.discordLink}
          linkedinLink={infoFirm?.social.linkedinLink}
          telegramLink={infoFirm?.social.telegramLink}
          redditLink={infoFirm?.social.redditLink}
        />
      </div>
    </div>
  </main>
</Layout>
