---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import hero_image from "/public/images/Archive-hero.webp";
import { mapIds } from "@/utils";
import { firms } from "@/libs/data/firms";
import {
  featureSelection,
  softwareSelection,
  instrumentSelection,
  brokerSelection,
} from "@/libs/data/selections";

export function getStaticPaths() {
  return mapIds(featureSelection).concat(
    mapIds(softwareSelection),
    mapIds(instrumentSelection),
    mapIds(brokerSelection)
  );
}

const { id } = Astro.params;

let foundSelection;

if (Object.keys(featureSelection).includes(id))
  foundSelection = featureSelection;
else if (Object.keys(softwareSelection).includes(id))
  foundSelection = softwareSelection;
else if (Object.keys(instrumentSelection).includes(id))
  foundSelection = instrumentSelection;
else if (Object.keys(brokerSelection).includes(id))
  foundSelection = brokerSelection;
else
  foundSelection = {
    id: {
      name: "This list doesn't exist",
    },
  };
---

<Layout title={``}>
  <main class="min-h-[80vh]">
    <div
      class="h-[300px] overflow-hidden shadow-[0_3px_3px_0px_rgba(50,50,0,0.5)] relative mb-[80px]"
    >
      <div
        class="absolute z-10 top-[50%] left-[50%] text-center translate-x-[-50%] translate-y-[-50%] text-light-grey greatVibes w-[40%]"
      >
        <h1
          class="w-full translate-x-[0px] translate-y-[0px] text-center text-8xl"
        >
          Selecciones
        </h1>
      </div>
      <div class="h-full">
        <Image
          src={hero_image}
          alt="Hero image"
          class="object-cover scale-110 translate-y-[-180px] translate-x-[50px]"
        />
      </div>
    </div>
    <div class="w-full mb-[80px] flex justify-center">
      <div class="flex flex-col gap-[40px] w-[1200px]">
        <div
          class="w-[1200px] bg-dark-grey text-[#FFF] py-[20px] px-[40px] rounded-xl"
        >
          <div class="flex justify-left flex-col gap-[15px] w-fit mb-[15px]">
            <h2 class="text-5xl">
              {foundSelection[id].name}
            </h2>
            <hr class="w-full" />
          </div>
          <p>
            {foundSelection[id].shortDescription}
          </p>
        </div>
        <ul class="ml-[40px]">
          {
            foundSelection[id].firms?.map((firm) => (
              <li class="mb-[20px]">
                <a href={firms[firm.id].link}>
                  <h3 class="text-3xl mb-[10px] flex items-center gap-[10px] cursor-pointer">
                    <img src="/icons/bullet-list.svg" class="h-[30px]" />
                    {firms[firm.id].name}
                  </h3>
                </a>
                <p class="ml-[40px]">{firm.notes}</p>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </main>
</Layout>
