---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import hero_image from "../../public/images/Home-hero-ready.jpg";
import CardReview from "../components/cards/CardReview.astro";
import CardList from "../components/cards/CardList.astro";
import CardPromo from "../components/cards/CardPromo.astro";
import { firms } from "@/libs/data/firms";
import { lists } from "@/libs/data/lists";
import { promotions } from "@/libs/data/promotions";
---

<Layout title="The GodFunded">
  <main>
    <div class="h-[480px] overflow-hidden arrow-clip-wrap relative">
      <div
        class="absolute z-10 top-[55%] left-[50%] text-center translate-x-[-50%] text-light-grey greatVibes w-[40%]"
      >
        <p class="text-6xl mb-[10px]">
          Le voy a hacer una oferta que no podr치 rechazar
        </p>
        <h1 class="w-full translate-x-[0px] translate-y-[0px] text-center">
          The GodFunded
        </h1>
      </div>
      <div class="h-full">
        <Image
          src={hero_image}
          alt="Hero image"
          class="object-cover scale-105 translate-y-[-20px]"
        />
      </div>
    </div>
    <section class="flex flex-col items-center p-[80px]">
      <div class="grid grid-cols-4 gap-[40px] w-[1200px]">
        <div
          class="text-light-grey bg-dark-grey flex flex-col items-center justify-center p-[40px] gap-[20px]"
        >
          <h2 class="text-6xl">Reviews</h2>
          <button
            class="border-light-grey text-sm p-[10px] border-4 font-medium hover:bg-light-grey hover:font-bold hover:text-dark-grey ease-in-out duration-100"
          >
            M치s empresas de fondeo</button
          >
        </div>
        <CardReview logo={firms.FTMO.logoText} />
        <CardReview logo={firms.TFT.logoText} />
        <CardReview logo={firms.FundedNext.logoText} />
      </div>
    </section>
    <section class="w-full bg-dark-grey p-[80px] flex flex-col items-center">
      <div class="w-[1200px] grid grid-cols-4 gap-[40px]">
        <div class="flex flex-col gap-[40px]">
          <CardList
            name={lists.noSL.name}
            shortDescription={lists.noSL.shortDescription}
          />

          <CardList
            name={lists.noTimeLimit.name}
            shortDescription={lists.noTimeLimit.shortDescription}
          />
        </div>
        <div class="flex flex-col gap-[40px]">
          <CardList
            name={lists.EA.name}
            shortDescription={lists.EA.shortDescription}
          />
          <CardList
            name={lists.tradingView.name}
            shortDescription={lists.tradingView.shortDescription}
          />
        </div>
        <div class="flex flex-col gap-[40px]">
          <CardList
            name={lists.crypto.name}
            shortDescription={lists.EA.shortDescription}
          />
          <CardList
            name={lists.crypto.name}
            shortDescription={lists.EA.shortDescription}
          />
        </div>
        <div
          class="flex flex-col justify-around border-2 border-light-grey items-center p-[20px]"
        >
          <h2 class="text-7xl text-light-grey">Listas</h2>
          <button
            class="border-[#FFF] text-dark-grey text-xl p-[15px] bg-[#FFF] hover:text-light-grey  hover:bg-orange ease-in-out duration-100 will-change-transform"
          >
            M치s listas</button
          >
        </div>
      </div>
    </section>
    <section
      class="w-full bg-[#D95613] flex justify-center p-[80px] gap-[40px]"
    >
      <div class="flex flex-col justify-around items-center">
        <h2 class="text-7xl text-light-grey">Promociones</h2>
        <div class="flex justify-center">
          <button
            class="bg-light-grey text-orange px-12 py-6 text-2xl font-medium scale-100 hover:scale-105 ease-in-out duration-300 will-change-transform"
          >
            M치s ofertas y descuentos
          </button>
        </div>
      </div>
      <CardPromo
        promotion={promotions.BlueGuardian[0]}
        logo={firms.BlueGuardian.logo}
      />
      <CardPromo promotion={promotions.TFT[0]} logo={firms.TFT.logo} />
      <CardPromo promotion={promotions.GFT[0]} logo={firms.GFT.logo} />
    </section>
  </main>

  <style>
    main {
      margin: auto;
      max-width: calc(100%);
      color: #2f2f2f;
      font-size: 20px;
      line-height: 1.6;
    }
    .arrow-clip-hero-image {
      clip-path: polygon(0 0, 100% 0%, 100% 80%, 49% 100%, 0 80%);
    }
    .arrow-clip-wrap {
      filter: drop-shadow(0 3px 3px rgba(50, 50, 0, 0.5));
    }
    .arrow-clip-section {
      clip-path: polygon(0 0, 100% 0%, 100% 50%, 49% 100%, 0 50%);
    }
    .squeezed-corleone {
      transform: scale(1, 0.9);
    }
  </style>
</Layout>
