---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import hero_image from "@/images/Home-hero.webp";
import CardReview from "../components/cards/CardReview.astro";
import CardList from "../components/cards/CardList.astro";
import CardPromo from "../components/cards/CardPromoHome.astro";
import { firms } from "@/libs/data/firms";
import { promotions, allPromotions } from "@/libs/data/promotions";
import {
  rulesList,
  instrumentList,
  softwareList,
  allListArray,
} from "@/libs/data/lists";
import "@/styles/scroll-down.css";
import { shuffleArray } from "@/utils";

const firmsKeys = shuffleArray(Object.keys(firms));
const allPromotionsRandom = shuffleArray(allPromotions);
const allListRandom = shuffleArray(allListArray);
---

<Layout
  title="Home"
  description="La web mas completa en español sobre empresas de fondeo. Todo lo que necesitas saber para llevar tu trading al máximo nivel"
>
  <main>
    <div class="overflow-hidden relative h-screen-70">
      <div
        class="absolute z-10 top-[55%] left-[50%] text-center translate-x-[-50%] w-full px-[10%] md:px-0
         text-light-grey greatVibes max-w-[600px] pb-[10%]"
      >
        <p class="lg:text-[8vh] text-[6.5vh] text-5xl mb-[20px]">
          Le voy a hacer una oferta que no podrá rechazar
        </p>
        <h1 class="w-full translate-x-[0px] translate-y-[0px] text-center">
          The GodFunded
        </h1>
      </div>
      <Image
        src={hero_image}
        alt="Imagen hero home"
        class="object-cover relative min-w-full min-h-full scale-125"
      />
    </div>
    <div class="w-full flex flex-col justify-center items-center">
      <div class="margin-section responsive-section gap-[40px] flex flex-col">
        <section class="flex justify-center w-full">
          <div class="design-section flex flex-col gap-[30px]">
            <div class="flex xs:justify-between justify-center lg:gap-[20px]">
              <h2
                style=`background: linear-gradient(to right, #D95613, #e2a828);
        -webkit-background-clip:text`
                class="title-index-lg"
              >
                Reviews
              </h2>
              <a
                href="/reviews"
                class="xs:flex flex-col justify-end items-center gap-[10px] sm:text-2xl text-xl pr-[10px] hidden underline underline-offset-4"
              >
                Ver más
              </a>
            </div>
            <div
              class="grid lg:grid-cols-4 md:grid-cols-3 xs:grid-cols-2 grid-cols-1 lg:gap-[30px] md:gap-[20px] gap-[15px]"
            >
              <CardReview
                logo={firms[firmsKeys[0]].logoText}
                id={firmsKeys[0]}
              />
              <CardReview
                logo={firms[firmsKeys[1]].logoText}
                id={firmsKeys[1]}
              />
              <CardReview
                logo={firms[firmsKeys[2]].logoText}
                id={firmsKeys[2]}
              />
              <CardReview
                logo={firms[firmsKeys[3]].logoText}
                id={firmsKeys[3]}
              />
              <CardReview
                logo={firms[firmsKeys[4]].logoText}
                id={firmsKeys[4]}
                extraClass="xs:block hidden"
              />
              <CardReview
                logo={firms[firmsKeys[5]].logoText}
                id={firmsKeys[5]}
                extraClass="xs:block hidden"
              />
              <CardReview
                logo={firms[firmsKeys[6]].logoText}
                id={firmsKeys[6]}
                extraClass="xs:block hidden"
              />
              <CardReview
                logo={firms[firmsKeys[7]].logoText}
                id={firmsKeys[7]}
                extraClass="xs:block hidden"
              />
              <CardReview
                logo={firms[firmsKeys[8]].logoText}
                id={firmsKeys[8]}
                extraClass="lg:hidden md:block hidden"
              />
            </div>
            <a class="xs:hidden w-full" href="/reviews">
              <button
                class="border-dark-grey border-[3px] rounded-lg w-full p-[4px]"
              >
                Ver más &rarr;
              </button>
            </a>
          </div>
        </section>
        <section class="flex justify-center w-full">
          <div class="design-section w-full flex flex-col gap-[40px]">
            <div class="flex xs:justify-between justify-center">
              <h2
                style=`background: linear-gradient(to right, #D95613, #e2a828);
            -webkit-background-clip:text`
                class="title-index-sm"
              >
                Promociones
              </h2>
              <a
                href="/promociones"
                class="xs:flex flex-col justify-end items-center gap-[10px] sm:text-2xl text-xl mr-[10px] hidden underline underline-offset-4"
              >
                Ver más
              </a>
            </div>
            <div
              class="grid lg:grid-cols-4 md:grid-cols-3 xs:grid-cols-2 grid-cols-1 place-items-center lg:gap-[30px] md:gap-[20px] gap-[15px]"
            >
              <CardPromo
                promotion={allPromotionsRandom[0]}
                logo={firms[allPromotionsRandom[0].firmId].logo}
                firm={allPromotionsRandom[0].firmId}
              />
              <CardPromo
                promotion={allPromotionsRandom[1]}
                logo={firms[allPromotionsRandom[1].firmId].logo}
                firm={allPromotionsRandom[1].firmId}
              />
              <CardPromo
                promotion={allPromotionsRandom[2]}
                logo={firms[allPromotionsRandom[2].firmId].logo}
                firm={allPromotionsRandom[2].firmId}
              />
              <div class="lg:block md:hidden block h-full">
                <CardPromo
                  promotion={allPromotionsRandom[3]}
                  logo={firms[allPromotionsRandom[3].firmId].logo}
                  firm={allPromotionsRandom[3].firmId}
                />
              </div>
            </div>
            <a class="xs:hidden w-full" href="/reviews">
              <button
                class="border-dark-grey border-[3px] rounded-lg w-full p-[4px]"
              >
                Ver más &rarr;
              </button>
            </a>
          </div>
        </section>

        <section class="flex justify-center w-full">
          <div class="design-section-dark flex flex-col gap-[30px] w-full">
            <div class="flex xs:justify-between justify-center">
              <h2
                style=`background: linear-gradient(to right, #D95613, #e2a828);
            -webkit-background-clip:text`
                class="title-index-lg"
              >
                Listas
              </h2>
              <a
                href="/listas"
                class="xs:flex flex-col justify-end items-center gap-[10px] sm:text-2xl text-xl pr-[10px] hidden underline underline-offset-4"
              >
                Ver más
              </a>
            </div>
            <div
              class="responsive-section grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:gap-[30px] md:gap-[20px] gap-[15px] w-full text-dark-grey"
            >
              <CardList name={allListArray[0].name} id={allListArray[0].id} />

              <CardList name={allListArray[1].name} id={allListArray[1].id} />
              <CardList name={allListArray[2].name} id={allListArray[2].id} />
              <CardList name={allListArray[3].name} id={allListArray[3].id} />
              <CardList name={allListArray[4].name} id={allListArray[4].id} />
              <CardList name={allListArray[5].name} id={allListArray[5].id} />
            </div>
            <a class="xs:hidden w-full" href="/reviews">
              <button
                class="border-dark-grey border-[3px] rounded-lg w-full p-[4px]"
              >
                Ver más &rarr;
              </button>
            </a>
          </div>
        </section>
        <section>
          <div class="design-section flex flex-col gap-[30px]">
            <h2
              style=`background: linear-gradient(to right, #D95613, #e2a828);
        -webkit-background-clip:text`
              class="title-index-sm"
            >
              ¿Qué es una empresa de fondeo?
            </h2>
            <div class="text-base mb-[10px] flex flex-col gap-[15px]">
              <p>
                Las empresas de fondeo, comúnmente llamadas prop firms, ofrecen
                un novedoso servicio financiero que está revolucionando el mundo
                del trading. El concepto es simple, paga para acceder a una
                prueba, y si consigues superarla cumpliendo todas las
                condiciones, obtendrás una cuenta con gran capital, y una parte
                de los beneficios que consigas con esas cuenta serán para ti.
              </p>
              <p>
                Uno de los grandes problemas a la hora de empezar en el mundo
                del trading es la falta de fondos, lo que se conoce como "buying
                power". Este nuevo modelo de negocio cambia las reglas del
                juego, y permite a buenos traders acceder a ese capital de una
                forma mucho más rápida.
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>

    <style>
      main {
        margin: auto;
        max-width: calc(100%);
        color: #2f2f2f;
        font-size: 20px;
        line-height: 1.6;
      }
      .title-index-lg {
        @apply lg:text-6xl sm:text-5xl text-5xl inline-block text-transparent font-bold col-span-3 xs:text-left text-center;
      }
      .title-index-sm {
        @apply lg:text-6xl sm:text-5xl text-4xl inline-block text-transparent font-bold col-span-3 xs:text-left text-center;
      }
      .arrow-more {
        @apply fill-dark-grey lg:w-[65px] lg:h-[65px] sm:w-[55px] sm:h-[55px]
                w-[45px] h-[45px] xs:block hidden scale-100 hover:scale-105 duration-300 ease-in-out will-change-transform;
      }
    </style>
  </main>
</Layout>
