---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import hero_image from "../../public/images/Home-hero-ready.jpg";
import CardReview from "../components/cards/CardReview.astro";
import CardSelection from "../components/cards/CardSelection.astro";
import CardPromo from "../components/cards/CardPromoHome.astro";
import { firms } from "@/libs/data/firms";
import {
  brokerSelection,
  featureSelection,
  instrumentSelection,
  softwareSelection,
} from "@/libs/data/selections";
---

<Layout title="The GodFunded">
  <main>
    <div
      class="xl:h-[480px] xs:h-[400px] h-[550px] overflow-hidden arrow-clip-wrap relative"
    >
      <div
        class="absolute z-10 top-[50%] xl:top-[55%] left-[50%] text-center translate-x-[-50%]
         text-light-grey greatVibes xl:w-[600px] lg:w-[500px] md:w-[440px]"
      >
        <p class="xl:text-6xl md:text-5xl text-4xl mb-[10px]">
          Le voy a hacer una oferta que no podrá rechazar
        </p>
        <h1 class="w-full translate-x-[0px] translate-y-[0px] text-center">
          The GodFunded
        </h1>
      </div>
      <div class="h-full">
        <Image
          src={hero_image}
          alt="Hero image"
          class="lg:object-contain min-w-full h-full lg:h-auto object-cover scale-105 translate-y-[-20px]"
        />
      </div>
    </div>
    <section class="flex flex-col items-center p-[40px] lg:p-[80px]">
      <div
        class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-[40px] responsive-section"
      >
        <div
          class="text-light-grey bg-dark-grey flex flex-col items-center justify-center
           xl:p-[40px] lg:p-[35px] p-[15px] lg:gap-[20px] rounded-xl md:col-span-3 lg:col-span-1"
        >
          <h2 class="xl:text-6xl lg:text-5xl xs:text-6xl text-4xl">Reviews</h2>
          <a href="/reviews">
            <button
              class="rounded-lg border-light-grey xl:text-sm text-[0.7rem] p-[10px] border-4 font-medium
               hover:bg-light-grey hover:font-bold hover:text-dark-grey ease-in-out duration-100
               hidden lg:block"
            >
              Más empresas de fondeo</button
            >
          </a>
        </div>
        <CardReview logo={firms.FTMO.logoText} webLink={firms.FTMO.link} />
        <CardReview logo={firms.TFT.logoText} />
        <CardReview logo={firms.FundedNext.logoText} />
      </div>
      <a
        href="/reviews"
        class="w-full flex justify-center max-w-[500px] md:max-w-fit"
      >
        <button
          class="rounded-lg border-dark-grey text-xl p-[10px] border-4 font-medium
               hover:bg-light-grey hover:font-bold hover:text-dark-grey ease-in-out duration-100
               lg:hidden mt-[60px] mb-[20px] w-full"
        >
          Más empresas de fondeo</button
        >
      </a>
    </section>
    <section
      class="w-full bg-dark-grey p-[40px] lg:p-[80px] flex flex-col items-center"
    >
      <div
        class="responsive-section grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-[40px] max-w-[500px] w-full"
      >
        <CardSelection name={featureSelection.noSL.name} id="noSL" />

        <CardSelection
          name={featureSelection.noTimeLimit.name}
          id="noTimeLimit"
        />
        <CardSelection name={softwareSelection.EA.name} id="EA" />
        <div
          class="flex lg:flex-col justify-center lg:justify-around border-4 rounded-xl border-light-grey
           items-center p-[20px] col-span-1 md:col-span-2 lg:row-span-2 lg:col-span-1 order-first lg:order-none"
        >
          <h2 class="xl:text-4xl lg:text-3xl text-6xl text-light-grey">
            Selecciones
          </h2>
          <a href="/selecciones">
            <button
              class="border-[#FFF] text-dark-grey xl:text-xl text-lg p-[15px] bg-[#FFF] rounded-lg
               hover:text-light-grey hover:bg-orange ease-in-out duration-100 will-change-transform
               hidden lg:block"
            >
              Más selecciones</button
            >
          </a>
        </div>
        <CardSelection
          name={softwareSelection.tradingView.name}
          id="tradingView"
        />
        <CardSelection name={instrumentSelection.crypto.name} id="crypto" />
        <CardSelection name={featureSelection.weekend.name} id="weekend" />
      </div>
      <a href="/selecciones" class="w-full flex justify-center">
        <button
          class="border-[#FFF] text-2xl p-[15px] rounded-lg
               text-light-grey bg-orange ease-in-out duration-100 will-change-transform
               lg:hidden mt-[60px] mb-[20px] max-w-[500px] w-full md:w-auto"
        >
          Más selecciones</button
        >
      </a>
    </section>
    <section
      class="w-full bg-[#D95613] p-[40px] lg:p-[80px] flex justify-center"
    >
      <div
        class="responsive-section flex justify-center gap-[40px] flex-col lg:flex-row w-full"
      >
        <div class="flex flex-col justify-around items-center w-full">
          <h2
            class="xl:text-7xl lg:text-6xl md:text-7xl xs:text-5xl text-[10vw] text-[#FFF] my-0 md:my-[20px] border-[6px] border-[#FFF]
            rounded-xl w-full lg:border-0 text-center p-[15px]"
          >
            Promociones
          </h2>
          <div class="hidden justify-center lg:flex">
            <a href="/promociones">
              <button
                class="bg-[#FFF] text-orange px-12 py-6 text-xl xl:text-2xl font-medium scale-100
              hover:scale-105 ease-in-out duration-300 will-change-transform
              rounded-xl"
              >
                Más ofertas y descuentos
              </button>
            </a>
          </div>
        </div>
        <div
          class="flex md:flex-row flex-col items-center gap-[40px] md:gap-[60px] lg:gap-[40px] justify-center"
        >
          <CardPromo
            promotion={firms.BlueGuardian.promotions![0]}
            logo={firms.BlueGuardian.logo}
          />
          <CardPromo
            promotion={firms.TFT.promotions![0]}
            logo={firms.TFT.logo}
          />
          <CardPromo
            promotion={firms.GFT.promotions![0]}
            logo={firms.GFT.logo}
          />
        </div>
        <div class="lg:hidden justify-center flex">
          <a href="/promociones">
            <button
              class="bg-[#FFF] text-orange px-12 py-6 text-2xl xl:text-2xl font-medium scale-100
              hover:scale-105 ease-in-out duration-300 will-change-transform
              rounded-xl my-0 md:my-[10px]"
            >
              Más ofertas y descuentos
            </button>
          </a>
        </div>
      </div>
    </section>
  </main>

  <style>
    main {
      margin: auto;
      max-width: calc(100%);
      color: #2f2f2f;
      font-size: 20px;
      line-height: 1.6;
    }
    .arrow-clip-hero-image {
      clip-path: polygon(0 0, 100% 0%, 100% 80%, 49% 100%, 0 80%);
    }
    .arrow-clip-wrap {
      filter: drop-shadow(0 3px 3px rgba(50, 50, 0, 0.5));
    }
    .arrow-clip-section {
      clip-path: polygon(0 0, 100% 0%, 100% 50%, 49% 100%, 0 50%);
    }
    .squeezed-corleone {
      transform: scale(1, 0.9);
    }
  </style>
</Layout>
