---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import hero_image from "../../public/images/Home-hero.webp";
import CardReview from "../components/cards/CardReview.astro";
import CardList from "../components/cards/CardList.astro";
import CardPromo from "../components/cards/CardPromoHome.astro";
import { firms } from "@/libs/data/firms";
import { promotions } from "@/libs/data/promotions";
import {
  rulesList,
  instrumentList,
  softwareList,
} from "@/libs/data/lists";
---

<Layout title="The GodFunded">
  <main>
    <div
      class="xl:h-[480px] xs:h-[400px] h-[550px] overflow-hidden arrow-clip-wrap relative"
    >
      <div
        class="absolute z-10 top-[50%] xl:top-[55%] left-[50%] text-center translate-x-[-50%]
         text-light-grey greatVibes xl:w-[600px] lg:w-[500px] md:w-[440px]"
      >
        <p class="xl:text-6xl md:text-5xl text-4xl mb-[10px]">
          Le voy a hacer una oferta que no podrá rechazar
        </p>
        <h1 class="w-full translate-x-[0px] translate-y-[0px] text-center">
          The GodFunded
        </h1>
      </div>
      <div class="h-full">
        <Image
          src={hero_image}
          alt="Hero image"
          class="lg:object-contain min-w-full h-full lg:h-auto object-cover scale-105 translate-y-[-60px]"
        />
      </div>
    </div>
    <div class="w-full flex flex-col justify-center items-center">
      <div class="margin-section responsive-section gap-[40px] flex flex-col">
        <section class="flex justify-center w-full">
          <div class="design-section flex flex-col gap-[30px]">
            <div class="flex xs:justify-between justify-center lg:gap-[20px]">
              <h2
                style=`background: linear-gradient(to right, #D95613, #e2a828);
        -webkit-background-clip:text`
                class="title-index-lg"
              >
                Reviews
              </h2>
              <a
                href="/reviews"
                class="xs:flex flex-col justify-end items-center gap-[10px] sm:text-2xl text-xl pr-[10px] hidden underline underline-offset-4"
              >
                <!-- <svg viewBox="0 0 512 512" class="arrow-more"
                  ><path
                    d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm-28.9 143.6l75.5 72.4H120c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h182.6l-75.5 72.4c-9.7 9.3-9.9 24.8-.4 34.3l11 10.9c9.4 9.4 24.6 9.4 33.9 0L404.3 273c9.4-9.4 9.4-24.6 0-33.9L271.6 106.3c-9.4-9.4-24.6-9.4-33.9 0l-11 10.9c-9.5 9.6-9.3 25.1.4 34.4z"
                  ></path></svg
                > -->
                Ver más
              </a>
            </div>
            <div
              class="grid lg:grid-cols-4 md:grid-cols-3 xs:grid-cols-2 grid-cols-1 lg:gap-[30px] md:gap-[20px] gap-[15px]"
            >
              <CardReview logo={firms.FTMO.logoText} id="FTMO" />
              <CardReview logo={firms.The5ers.logoText} id="The5ers" />
              <CardReview logo={firms.TTP.logoText} id="TTP" />
              <CardReview logo={firms.E8.logoText} id="E8" />
              <CardReview
                logo={firms.TFT.logoText}
                id="TFT"
                extraClass="xs:block hidden"
              />
              <CardReview
                logo={firms.FundedNext.logoText}
                id="FundedNext"
                extraClass="xs:block hidden"
              />
              <CardReview
                logo={firms.GFT.logoText}
                id="GFT"
                extraClass="xs:block hidden"
              />
              <CardReview
                logo={firms.SFT.logoText}
                id="SFT"
                extraClass="xs:block hidden"
              />
              <CardReview
                logo={firms.FundingPips.logoText}
                id="FundingPips"
                extraClass="lg:hidden md:block hidden"
              />
            </div>
            <a class="xs:hidden w-full" href="/reviews">
              <button
                class="border-dark-grey border-[3px] rounded-lg w-full p-[4px]"
              >
                Ver más &rarr;
              </button>
            </a>
          </div>
        </section>
        <section class="flex justify-center w-full">
          <div class="design-section w-full flex flex-col gap-[40px]">
            <div class="flex xs:justify-between justify-center">
              <h2
                style=`background: linear-gradient(to right, #D95613, #e2a828);
            -webkit-background-clip:text`
                class="title-index-sm"
              >
                Promociones
              </h2>
              <a
                href="/promociones"
                class="xs:flex flex-col justify-end items-center gap-[10px] sm:text-2xl text-xl mr-[10px] hidden underline underline-offset-4"
              >
                Ver más
              </a>
            </div>
            <div
              class="grid lg:grid-cols-4 md:grid-cols-3 xs:grid-cols-2 grid-cols-1 place-items-center lg:gap-[30px] md:gap-[20px] gap-[15px]"
            >
              <CardPromo
                promotion={promotions.BlueGuardian[0]}
                logo={firms.BlueGuardian.logo}
                firm="BlueGuardian"
              />
              <CardPromo
                promotion={promotions.TFT[0]}
                logo={firms.TFT.logo}
                firm="TFT"
              />
              <CardPromo
                promotion={promotions.GFT[0]}
                logo={firms.GFT.logo}
                firm="GFT"
              />
              <div class="lg:block md:hidden block h-full">
                <CardPromo
                  promotion={promotions.GFT[0]}
                  logo={firms.GFT.logo}
                  firm="GFT"
                />
              </div>
            </div>
            <a class="xs:hidden w-full" href="/reviews">
              <button
                class="border-dark-grey border-[3px] rounded-lg w-full p-[4px]"
              >
                Ver más &rarr;
              </button>
            </a>
          </div>
        </section>
        <section class="flex justify-center w-full">
          <div class="design-section-dark flex flex-col gap-[30px] w-full">
            <div class="flex xs:justify-between justify-center">
              <h2
                style=`background: linear-gradient(to right, #D95613, #e2a828);
            -webkit-background-clip:text`
                class="title-index-lg"
              >
                Listas
              </h2>
              <a
                href="/listas"
                class="xs:flex flex-col justify-end items-center gap-[10px] sm:text-2xl text-xl pr-[10px] hidden underline underline-offset-4"
              >
                Ver más
              </a>
            </div>
            <div
              class="responsive-section grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[40px] w-full text-dark-grey"
            >
              <CardList
                name={rulesList.noSL.name}
                id="noSL"
                color="orangeFull"
              />

              <CardList
                name={rulesList.noTimeLimit.name}
                id="noTimeLimit"
                color="orangeFull"
              />
              <CardList
                name={rulesList.EA.name}
                id="EA"
                color="orangeFull"
              />
              <CardList
                name={softwareList.tradingView.name}
                id="tradingView"
                color="orangeFull"
              />
              <CardList
                name={instrumentList.crypto.name}
                id="crypto"
                color="orangeFull"
              />
              <CardList
                name={rulesList.weekend.name}
                id="weekend"
                color="orangeFull"
              />
            </div>
            <a class="xs:hidden w-full" href="/reviews">
              <button
                class="border-dark-grey border-[3px] rounded-lg w-full p-[4px]"
              >
                Ver más &rarr;
              </button>
            </a>
          </div>
        </section>
      </div>
    </div>

    <style>
      main {
        margin: auto;
        max-width: calc(100%);
        color: #2f2f2f;
        font-size: 20px;
        line-height: 1.6;
      }
      .title-index-lg {
        @apply lg:text-6xl sm:text-5xl text-5xl inline-block text-transparent font-bold col-span-3 xs:text-left text-center;
      }
      .title-index-sm {
        @apply lg:text-6xl sm:text-5xl text-4xl inline-block text-transparent font-bold col-span-3 xs:text-left text-center;
      }
      .arrow-more {
        @apply fill-dark-grey lg:w-[65px] lg:h-[65px] sm:w-[55px] sm:h-[55px]
                w-[45px] h-[45px] xs:block hidden scale-100 hover:scale-105 duration-300 ease-in-out will-change-transform;
      }
    </style>
  </main>
</Layout>
