---
import { Image } from "astro:assets";
import BreadcrumbHeader from "./BreadcrumbHero.astro";

interface Props {
  hero_image: ImageMetadata;
  title?: string;
  extraClassImage?: string;
  altTitle?: string;
  altUrl?: string;
  altIndex?: number;
  isSelection?: boolean;
  titleLogo?: string;
  titleLogoLink?: string;
  button1Text?: string;
  button1Link?: string;
  button2Text?: string;
  button2Link?: string;
  hasButtons?: boolean;
}

const {
  hero_image,
  title,
  extraClassImage,
  altTitle,
  altIndex,
  altUrl,
  isSelection,
  titleLogo,
  titleLogoLink,
  button1Link,
  button1Text,
  button2Link,
  button2Text,
  hasButtons,
} = Astro.props;
---

<div
  class="xs:h-[350px] h-[400px] min-h-[350px] overflow-hidden shadow-[0_3px_3px_0px_rgba(50,50,0,0.5)]
      relative"
>
  <div
    class="absolute z-20 text-light-grey w-full h-full flex justify-center items-center bg-[rgba(15,15,15,0.8)]
    md:bg-transparent"
  >
    <div class="responsive-section margin-section w-full flex justify-between">
      <div>
        {
          titleLogo ? (
            <h1 class="w-full flex md:justify-start justify-center">
              <a href={titleLogoLink}>  
                <img
                  src={titleLogo}
                  class="lg:h-[100px] xs:h-[80px] h-[70px] mb-[30px] object-contain"
                />
              </a>
            </h1>
          ) : isSelection ? (
            <h1 class="w-full lg:text-7xl xs:text-6xl text-4xl md:text-left text-center greatVibes mb-[20px]">
              {title}
            </h1>
          ) : (
            <h1 class="w-full lg:text-8xl xs:text-7xl text-5xl md:text-left text-center greatVibes mb-[10px]">
              {title}
            </h1>
          )
        }
        <p class="xl:w-[70%] lg:w-[75%] md:w-[72%] mb-[20px]">
          Es muy importante conocer todos los detalles antes de elegir una
          empresa de fondeo. Cada una de ellas funciona de manera diferente, y
          si no lo tienes todo en cuenta desde un principio, es posible que
          tengas problemas en un futuro, o incluso llegues a perder la cuenta.
        </p>
        <BreadcrumbHeader
          altIndex={altIndex}
          altTitle={altTitle}
          altUrl={altUrl}
        />
      </div>
      <div
        class="md:flex hidden flex-col justify-center gap-[50px] xl:basis-[300px] md:basis-[260px] shrink-0"
      >
        {
          hasButtons && (
            <>
              <a href={button1Link}>
                <button
                  class="border-[4px] border-light-grey shadow-[0_0px_10px_3px_rgba(255,255,255,0.5)]
        text-[#FFF] w-full scale-100 hover:scale-105 duration-300 ease-in-out bg-[rgba(0,0,0,0.3)] will-change-transform"
                >
                  {button1Text}
                </button>
              </a>
              <a href={button2Link}>
                <button
                  class="bg-light-grey text-dark-grey w-full scale-100 hover:scale-105 duration-300
                 ease-in-out transform will-change-transform"
                >
                  {button2Text}
                </button>
              </a>
            </>
          )
        }
      </div>
    </div>
  </div>
  <div
    class="md:bg-gradient-to-r md:from-[rgba(15,15,15,1)] md:from-20% md:via-[rgba(15,15,15,0.5)]
     md:via-50% md:to-transparent md:to-80% absolute z-10 inset-0"
  >
  </div>
  <div class="h-full">
    <Image
      src={hero_image}
      alt="Hero image"
      class={`relative lg:object-contain min-w-full lg:h-auto h-full object-cover scale-110 ${extraClassImage}
      `}
    />
  </div>
</div>
<style>
  button {
    @apply py-[12px] px-[20px] rounded-lg text-2xl;
  }
  a {
  }
</style>
