---
import { Image } from "astro:assets";
import hero_image from "/public/images/Promotions-hero.webp";
import Layout from "@/layouts/Layout.astro";
import { firms } from "@/libs/data/firms.ts";
import { formatDate } from "@/utils.ts";

export function getStaticPaths() {
  return [
    { params: { id: "FTMO" } },
    { params: { id: "TFT" } },
    { params: { id: "FundedNext" } },
    { params: { id: "BlueGuardian" } },
    { params: { id: "GFT" } },
  ];
}

const { id } = Astro.params;
---

<Layout>
  <main class="min-h-[80vh]">
    <div
      class="h-[300px] overflow-hidden shadow-[0_3px_3px_0px_rgba(50,50,0,0.5)] relative mb-[80px]"
    >
      <div
        class="absolute z-10 top-[50%] left-[50%] text-center translate-x-[-50%] translate-y-[-50%] text-light-grey greatVibes w-[40%]"
      >
        <h1
          class="w-full translate-x-[0px] translate-y-[0px] text-center text-8xl"
        >
          Promociones
        </h1>
      </div>
      <div class="h-full">
        <Image
          src={hero_image}
          alt="Hero image"
          class="object-cover scale-110 translate-y-[-180px] translate-x-[50px]"
        />
      </div>
    </div>
    <div class="w-full flex justify-center">
      <div
        class="bg-dark-grey px-[40px] pb-[40px] pt-[20px] w-[1200px] mb-[80px] rounded-[20px] text-[#fff]"
      >
        <div class="w-full h-[200px] flex justify-center">
          <img src={firms[id].logoTextWhite} />
        </div>
        <div class="px-[40px]">
          <table class="w-full text-center divide-y divide-[#fff] divide">
            <thead>
              <tr class="text-3xl">
                <th class="w-1/6 py-[20px]">Descuento</th>
                <th class="w-3/6 py-[20px]">Descripción</th>
                <th class="w-1/6 py-[20px]">Fecha límite</th>
                <th class="w-1/6 py-[20px]">Código</th>
              </tr>
            </thead>
            <tbody class="text-lg">
              {
                firms[id].promotions != null ? (
                  firms[id].promotions.map((promotion) => (
                    <tr>
                      <th class=" text-3xl text-green">
                        {promotion.discount}%
                      </th>
                      <th class="py-[20px] pr-[30px]">
                        {promotion.description}
                      </th>
                      <th class="py-[20px]">{formatDate(promotion.endDate)}</th>
                      <th class="py-[20px]">{promotion.code}</th>
                    </tr>
                  ))
                ) : (
                  <td colspan="4" class="py-[40px]">
                    No hay ningúna promoción actualmente para esta empresa de
                    fondeo.
                  </td>
                )
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</Layout>
