---
import Layout from "@/layouts/Layout.astro";
import hero_image from "@/images/Lists-hero.jpg";
import { mapIds } from "@/utils";
import { firms } from "@/libs/data/firms";
import HeroPage from "@/components/HeroPage.astro";
import { rulesList, softwareList, instrumentList } from "@/libs/data/lists";
import type { List } from "@/libs/data/lists";

export function getStaticPaths() {
  return mapIds(rulesList).concat(mapIds(softwareList), mapIds(instrumentList));
}

const { id } = Astro.params;

let foundList: { [key: string]: List };

if (Object.keys(rulesList).includes(id)) foundList = rulesList;
else if (Object.keys(softwareList).includes(id)) foundList = softwareList;
else if (Object.keys(instrumentList).includes(id)) foundList = instrumentList;
else
  foundList = {
    id: {
      name: "Esta lista no existe",
      mainDescription: "Esta lista no existe"
    },
  };
---

<Layout title={`Lisa de empresas de fondeo ${foundList[id].name}`} description="Listado con todas las prop firms que cumplen este requisito.">
  <main class="min-h-[80vh]">
    <HeroPage
      hero_image={hero_image}
      title={foundList[id].name}
      isList
      altTitle="Listas"
      altIndex={1}
    >
      {foundList[id].mainDescription}
    </HeroPage>
    <div class="flex justify-center w-full">
      <div
        class="flex flex-col w-full responsive-section design-section margin-section"
      >
        <ul class="flex flex-col gap-[20px]">
          {
            foundList[id].firms?.map((firm) => (
              <a href={`/info/${firm.id}`}>
                <li class="bg-[#FFF] rounded-lg p-[20px] shadow-md hover:shadow-[0_0_10px_2px_rgba(217,86,19,0.5)] cursor-pointer">
                  <h3 class="text-xl mb-[10px] flex items-center gap-[10px] cursor-pointer">
                    <img src="/icons/bullet-list.svg" class="h-[30px]" alt="Flecha lista"/>
                    {firms[firm.id].name}
                  </h3>
                  <p class="ml-[40px] text-base text-medium-grey">
                    {firm.notes}
                  </p>
                </li>
              </a>
            ))
          }
        </ul>
      </div>
    </div>
  </main>
</Layout>
